{% extends 'cashier/base.html' %}

{% block title %}تغيير كلمة المرور{% endblock %}
{% block page_title %}تغيير كلمة المرور{% endblock %}
{% block page_subtitle %}تغيير كلمة مرور الموظف{% endblock %}

{% block content %}

<section class="content-area">
  <div class="row justify-content-center">
    <div class="col-lg-6">

      <div class="panel">
        <h4 class="panel-title mb-4">
          الموظف: {{ staff.user.username }}
        </h4>

        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}

        <form method="post">
          {% csrf_token %}

          <div class="mb-4">
            <label class="form-label">كلمة المرور الجديدة</label>
            <input type="password" name="password" class="form-control" required>
          </div>

          <button class="btn btn-primary w-100">
            حفظ كلمة المرور
          </button>
        </form>
      </div>

    </div>
  </div>
</section>

{% endblock %}